body{
    margin: 0;
}    
html{
    scroll-behavior: smooth;
}
*{
    /* border: 1px solid red; */
    font-family: Helvetica,sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    text-align: center;
    margin: 4rem auto 2rem;
}
#header{
    width: 100%;
    padding: .5rem 0 0;
    position: fixed;    
    inset: 0 0 auto 0;
    z-index: 1000;
    background-color: transparent;
}
#header-nav{
    width: min(90%,768px);
    height: 100%;
    margin: 0 auto;
    background-color: none;
}
#header-nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
#header-nav > ul > li{
    margin: 0;
    padding: .2rem 1rem;
    color: aqua;
}
#banner-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('images/banner-img.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#banner-text{
    position: absolute;
    top: 50%; left: 3rem;
    transform: translateY(-50%);
    color: white;
}
#banner-text span{
    color: aqua;
}
a.contact-btn{
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
}
.contact-btn button{
    display: block;
    width: 150px;
    padding: 1rem 1.5rem;
    background-color: aqua;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 100px;
    outline: none;
}
#techs-container{
    width: min(100%,960px);
    margin: 0 auto;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 2rem;
    text-align: center;
}
.techs{
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000003b;
}
.techs img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.techs p{
    margin: 0 auto;
}

#projects-container{
    display: flex;
    width: min(100%,960px);
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
}
.project{
    position: relative;
    width: min(300px,90%);
    aspect-ratio: 5/4;
    padding: 1rem;
    box-shadow: 0 0 10px #0000003b;
    border-radius: 12px;
}
.project img{
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
    margin: 0 auto;
    transition: .3s ease;
}

#contact-me{
    padding: 4rem 2rem;
}
.contact{
    width: min(960px, 100%);
    letter-spacing: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.contact img{
    width: 50px;
    text-align: center;
}
body{
    margin: 0;
}    
html{
    scroll-behavior: smooth;
}
*{
    /* border: 1px solid red; */
    font-family: Helvetica,sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    text-align: center;
    margin: 4rem auto 2rem;
}
#header{
    width: 100%;
    padding: .5rem 0 0;
    position: fixed;    
    inset: 0 0 auto 0;
    z-index: 1000;
    background-color: transparent;
}
#header-nav{
    width: min(90%,768px);
    height: 100%;
    margin: 0 auto;
    background-color: none;
}
#header-nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
#header-nav > ul > li{
    margin: 0;
    padding: .2rem 1rem;
    color: aqua;
}
#banner-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('images/banner-img.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#banner-text{
    position: absolute;
    top: 50%; left: 3rem;
    transform: translateY(-50%);
    color: white;
}
a.contact-btn{
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
}
.contact-btn button{
    display: block;
    width: 150px;
    padding: 1rem 1.5rem;
    background-color: aqua;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 100px;
    outline: none;
}
#techs-container{
    width: min(100%,960px);
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 4rem;
    flex-wrap: wrap;
    text-align: center;
}
.techs{
    width: 20%;
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000003b;
}
.techs img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.techs p{
    margin: 0 auto;
}

#projects-container{
    display: flex;
    width: min(100%,960px);
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
}
.project{
    position: relative;
    width: min(300px,90%);
    aspect-ratio: 5/4;
    padding: 1rem;
    box-shadow: 0 0 10px #0000003b;
    border-radius: 12px;
}
.project img{
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
    margin: 0 auto;
    transition: .3s ease;
}

#contact-me{
    padding: 4rem 2rem;
}
.contact{
    width: min(960px, 100%);
    letter-spacing: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.contact img{
    width: 50px;
    text-align: center;
}
